:root {
    --main--color:#F28F38;
}
*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    /* width: 1170px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.clearfix {
    clear: both;
}
/* start settingbox */
.setting-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fbfbfbfb;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: .3s;
    border: 1px solid #EEE;
}
.setting-box.open {
    left: 0;
}
.setting-box .toggle-setting {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.setting-box .toggle-setting .fa-gear {
    width: 30px;
    padding: 8px x0;
}
.setting-box .settings-content .option-box {
    padding: 10px;
    text-align: center;
    background-color: #EEE;
    margin: 10px 0 0;
}
.setting-box .settings-content .option-box h4 {
    margin: 0;
    color: #666;
}
.setting-box .settings-content .option-box .colorsList {
    list-style: none;
    text-align: center;
    padding: 0;
}
.setting-box .settings-content .option-box .colorsList li {
    width: 25px;
    height: 25px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    border: 3px solid #EEE;
}
.setting-box .settings-content .option-box .colorsList li.active {
    border-color: #fff;
}
.setting-box .settings-content .option-box .colorsList li:first-child {
    background-color: #F28F38;
}
.setting-box .settings-content .option-box .colorsList li:nth-child(2) {
    background-color: green;
}
.setting-box .settings-content .option-box .colorsList li:nth-child(3) {
    background-color: rgb(4, 179, 218);
}
.setting-box .settings-content .option-box .colorsList li:nth-child(4) {
    background-color: rgb(103, 209, 124);
}
.setting-box .settings-content .option-box .colorsList li:nth-child(5) {
    background-color: greenyellow ;
}
.setting-box .option-box span.active {
    opacity: 1;
}
.setting-box .option-box .yes,
.setting-box .option-box .no {
    width: 50px;
    background-color: var(--main--color);
    color: #fff;
    margin-top: 10px;
    display: inline-block;
    font-size: 12px;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 5px;
    opacity: .5;
    cursor: pointer;
}
.setting-box .reset-option {
    background-color: var(--main--color);
    border: none;
    width: 170px;
    margin: 10px auto;
    display: block;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
/* end settingbox */
/* start nav-bullets  */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
    z-index: 1000;
}
.nav-bullets .bullet {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main--color);
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.nav-bullets .bullet:hover .tooltip {
    display: block;
}
.nav-bullets .bullet .tooltip {
    background-color: var(--main--color);
    width: 120px;
    color: #fff;
    padding: 3px 10px;
    position: absolute;
    right: 32px;
    top: -10px;
    text-align: center;
    cursor: default;
    pointer-events: none;
    display: none ;
}
.nav-bullets .bullet .tooltip:before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main--color);
    height: 0;
    width: 0;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
/* end nav-bullets  */
/* start landing page */
.landing-page {
    min-height: 100vh;
    background-image: url(../imgs/plant-050.jpg);
    background-size: cover;
    position: relative;
}
.landing-page .overlay {
    background-color: rgba(0, 0, 0, 0.687);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-area {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    padding: 10px;
}
.header-area .logo {
    width: 300px;
    font-weight: bold;
    font-family: 'Tangerine' , sans-serif;
    font-size: 45px;
}
.header-area .links-container {
    width: 100%;
    text-align: right !important;
}
.header-area .links {
    list-style: none;
    padding-left: 0;
}
.header-area .links li {
    margin-left: 5%;
    display: inline-block;
    text-transform: uppercase;
}
.header-area .links li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.header-area .links li a:hover , .header-area .links li a.active {
    color: var(--main--color);
}
.header-area .toggle-menu {
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    margin-top: 15px;
    display: none;
}
.header-area .toggle-menu.menu-active:before{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    right: 19px;
    bottom: 5px;

}
.header-area .toggle-menu:focus{
    outline: none;
}
.header-area .toggle-menu span {
    display: block;
    background-color: #fff;
    height: 4px;
    margin-bottom: 4px;
}
.intro-text {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
    width: 100%;
}
.intro-text h1 {
    font-weight: bold;
    font-size: 200px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

}
.intro-text span {
    font-size: 20px;
    margin-left: 25% ;
    margin-bottom: 0;
    color: var(--main--color);
}
.intro-text p {
    font-size: 15px;
    line-height: 1.8;

}
@media (max-width: 991px) {
    .header-area .links {
        display: none;
    }

    .header-area .links.open {
        background-color: #fff;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        width: 100%;
        border-radius: 8px;
        text-align: left;
        padding: 2px;
        
    }

    .header-area .links.open li {
        display: block;
        margin: 10px;
    }

    .header-area .links.open li a {
        color: var(--main--color);
        font-weight: bold;
        font-size: 15px;
    }

    .header-area .toggle-menu {
        display: inline-block;
    }
}
/* end landing page */
/* start accesories part */
.about-us {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
.about-us .info-box {
    flex: 1;
    padding: 30px;
}
.about-us .info-box h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--main--color);
    letter-spacing: 8px;
    margin-bottom: 10px;
}
.about-us .info-box p {
    line-height: 2;
    color: #767676;
    margin: 0;
}
.about-us .image-box  {
    flex: 1;
    text-align: center;
    border-radius: 50%;
}
/* end accesories part */
/* start skill part */
.skills {
    padding-top: 50px;
    padding-bottom: 10%;
    background-color: #fbfbfb;
}
.skills h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--main--color);
    letter-spacing: 8px;
    margin-bottom: 40px;
    text-align: center;
} 
.skills .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}
.skills .skill-box .skill-name {
    width: 140px; 
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}
.skills .skill-box .skill-progress {
    width: 100%;
    height: 30px;
    background-color: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main--color);
    transition: all .5s;
}
/* end skill part */
/* start gallary part */
.gallary {
    padding-top: 50px;
    padding-bottom: 50px;
}
.gallary h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--main--color);
    letter-spacing: 8px;
    margin-bottom: 10px;
    text-align: center;
}
.gallary .images-box {
    text-align: center;
}
.gallary .images-box img {
    width: 200px;
    padding: 3px;
    background-color: #F6F6F6;
    border: 1px solid #CCC;
    margin: 5px;
    cursor: pointer;
}
.popup-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.popup-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #CCC;
    padding: 20px;
    z-index: 1001;
}
.popup-box h3 {
    text-align: center;
    font-weight: bold;
    color: var(--main--color);
    margin: 0 0 20px;
}
.popup-box img {
    max-width: 100%;
    width: 300px;
}
.close-span {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main--color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Tahoma;
    border-radius: 50%;
}
/* end gallary part */
/* start timeline */
.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(247, 247, 247);
}
.timeline .timeline-content {
    position: relative;
    overflow: hidden;
}
.timeline .timeline-content:before{
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -1px;
}
.timeline .timeline-content .year {
    margin: 20px auto;
    width: 50px;
    background-color: var(--main--color);
    position: relative;
    z-index: 2;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    padding: 2px 5px;
    font-weight: bold;
}
.timeline .timeline-content .left, 
.timeline .timeline-content .right {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    position: relative;
}
.timeline .timeline-content .left {
    float: left;
}
.timeline .timeline-content .left:before {
    right: -35px;
}
.timeline .timeline-content .right {
    float: right;
}
.timeline .timeline-content .right:before {
    left: -35px;
}
.timeline .timeline-content .right:before,
.timeline .timeline-content .left:before {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid var(--main--color); 
    position: absolute;
    border-radius: 50%;
    top: 20px;
} 
.timeline .timeline-content .left .content:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    right: -20px;
    top: 20px;
    
}
.timeline .timeline-content .right .content:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: -20px;
    top: 20px;
    
}
.timeline .timeline-content .content {
    padding: 20px;
    background-color: #fff;
}
.timeline .timeline-content .content h3 {
    font-size: 25px;
    font-weight: bold;
    color: var(--main--color);
    letter-spacing: 8px;
    margin-bottom: 10px;
    text-align: center;
}
.timeline .timeline-content .content p {
    line-height: 1.8;
    color: #666;

}
/* end timeline */
/* start feature */
.features {
    padding-top: 80px;
    padding-bottom: 80px;
}
.features h2 {
    font-size: 25px;
    font-weight: bold;
    color: var(--main--color);
    letter-spacing: 8px;
    margin-bottom: 0 0 60px;
    text-align: center;
} 
.features .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
.features .feat-box img {
    width: 96px;
}
.features .feat-box h4 {
    font-size: 22px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4:before {
    content: '';
    width: 40px;
    height: 4px;
    background-color: var(--main--color);
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -22px;
}
.features .feat-box p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #706f6f;
}
/* end feature */
/* start testimonials  */
.testimonials {
    position: relative;
    padding-top: 20px;
    padding-bottom: 10%;
}
.testimonials:before {
    content: '';
    width: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--main--color);
    height: 100%;
}
.testimonials:after {
    content: '';
    content: '';
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.687);;
    height: 100%;
}
.testimonials h2 {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 8px;
    margin-bottom: 0 0 30px;
    text-align: left;
    position: relative;
    z-index: 2;
}
.testimonials .ts-box {
    position: relative;
    z-index: 2;
    width: calc(98% / 3);
    float: left;
    background-color: #fff;
    padding: 20px;
}
.testimonials .ts-box:not(:last-of-type) {
    margin-right: 1%;
}
.testimonials .ts-box > p {
    margin: 0 0 20px;
    line-height: 1.6;
    font-size: 18px;
    color: #707070;
    font-style: italic;
}
.testimonials .ts-box .person-info {
    overflow: hidden;
}
.testimonials .ts-box .person-info img {
    float: left;
    border-radius: 50%;
    margin-right: 20px;
}
.testimonials .ts-box .person-info h4 {
    margin: 14px 0 5px;
}
.testimonials .ts-box .person-info p {
    color: #707070;
    margin: 0;

}
/* end testimonials  */
/* start contact us */
.contact {
    min-height: 600px;
    background-image: url('../imgs/contact.png');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}
.contact .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6);
}
.contact .container {
    position: relative;
    z-index: 2;
}
.contact h2 {
    font-size: 25px;
    font-weight: bold;
    color: var(--main--color);
    letter-spacing: 8px;
    margin-bottom: 0 0 60px;
    text-align: center;
}
.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left {
    float: left;
    width: 49%;
}
.contact form .right {
    float: right;
    width: 49%;
}
.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCC;
    background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    outline: 1px solid var(--main--color);
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
}
.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main--color);
    color: #fff;
    cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::-ms-input-placeholder,
.contact form input:not([type="submit"]):focus::-ms-input-placeholder {
    opacity: 0;
    transition: .3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
    opacity: 0;
    transition: .3s;
}
/* end contact us */
/* start media queries grid system */
@media (min-width: 576px) { /* small devices => landscap phones */
    .container{
        max-width: 540px;
    }
}
@media (min-width: 768px) { /* medium devices => Tablets */
    .container{
        max-width: 720px;
    }
}
@media (min-width: 992px) { /* Desktops */
    .container{
        max-width: 960px;
    }
}
@media (min-width: 1200px) { /* Large screen */
    .container{
        max-width: 1140px;
    }
}
/* end media queries grid system */