:root {
    --main--color:#F28F38;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/* start settingbox */
.setting-box {
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #fff;
    width: 200px;
    z-index: 1000;
    min-height: 100vh;
    transition: .3s;
}
.setting-box.open {
    left: 0;
}
.setting-box .toggle-setting {
    position: absolute;
    right: -30px;
    top: 100px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.setting-box .toggle-setting .fa-gear {
    width: 30px;
    padding: 8px x0;
}
.setting-box .settings-content .option-box {
    padding: 20px;
}
.setting-box .settings-content .option-box h4 {
    margin: 0;
    color: #666;
}
.setting-box .settings-content .option-box .colorsList {
    list-style: none;
    text-align: center;
    padding: 0;
}
.setting-box .settings-content .option-box .colorsList li {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    opacity: .5;
    display: inline-block;
}
.setting-box .settings-content .option-box .colorsList li.active {
    opacity: 1;
}
.setting-box .settings-content .option-box .colorsList li:first-child {
    background-color: #F28F38;
}
.setting-box .settings-content .option-box .colorsList li:nth-child(2) {
    background-color: green;
}
.setting-box .settings-content .option-box .colorsList li:nth-child(3) {
    background-color: rgb(4, 179, 218);
}
.setting-box .settings-content .option-box .colorsList li:nth-child(4) {
    background-color: rgb(103, 209, 124);
}
.setting-box .settings-content .option-box .colorsList li:nth-child(5) {
    background-color: greenyellow ;
}
/* end settingbox */
/* start landing page */
.landing-page {
    min-height: 100vh;
    background-image: url(../imgs/plant-050.jpg);
    background-size: cover;
    position: relative;
}
.landing-page .overlay {
    background-color: rgba(0, 0, 0, 0.687);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.header-area {
    position: relative;
    z-index: 2;
    color: #fff;
    display: flex;
    padding: 10px;
}
.header-area .logo {
    width: 300px;
    padding: 10px;
    font-weight: bold;
    margin-left: 3%;
    font-family: 'Tangerine' , sans-serif;
    font-size: 45px;
}
.header-area ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
    text-align: right;
    padding-right: 20px;
    font-size: 15px;
    margin-right: 6%;
    font-weight: bold;
}
.header-area ul li {
    margin-left: 10%;
    display: inline-block;
    text-transform: uppercase;
}
.header-area ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.header-area ul li a:hover , .header-area ul li a.active {
    color: var(--main--color);
}
.intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    text-align: center;
}
.intro-text h1 {
    font-weight: bold;
    font-size: 200px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

}
.intro-text span {
    font-size: 20px;
    margin-left: 25% ;
    margin-bottom: 0;
    color: var(--main--color);
}
.intro-text p {
    font-size: 15px;
    line-height: 1.8;

}

/* end landing page */